<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<style>
	.center {
	  margin: 0;
	  position: absolute;
	  top: 50%;
	  left: 50%;
	  -ms-transform: translate(-50%, -50%);
	  transform: translate(-50%, -50%);
	}
</style>

<body>
	<div class="center">
		<form action="#" th:action="${action}" th:object="${person}" method="post">
		    <div>
			    <label for="firstname">First Name</label>
			    <input type="text" th:field="*{firstname}" id="firstname" placeholder="first name">
			    <span th:if="${#fields.hasErrors('firstname')}" th:errors="*{firstname}"></span>
		    </div>
		    <div>
			    <label for="lastname">Last Name</label>
			    <input type="text" th:field="*{lastname}" id="lastname" placeholder="last name">
			    <span th:if="${#fields.hasErrors('lastname')}" th:errors="*{lastname}"></span>
		    </div>
		    <div><input type="submit" value="Ok"></div>  
		</form>
	</div>
</body>

</html>